<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServerTCP.Properties.SettingsServer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ServerTCP.Properties.SettingsServer>
            <setting name="publicKey" serializeAs="String">
                <value />
            </setting>
            <setting name="privateKey" serializeAs="String">
                <value />
            </setting>
        </ServerTCP.Properties.SettingsServer>
    </userSettings>
</configuration>